* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: "'Inter', sans-serif" !important;
  /* filter: brightness() */
}

a {
  text-decoration: none !important;
}

/* Slider next and prev icon  */

/* Hero slider........ */
.heroSlider .swiper-button-prev,
.heroSlider .swiper-button-next {
  position: absolute;
  width: 70px !important;
  height: 70px !important;
  padding: 15px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.10) !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7743db !important;
  background-color: #f7efe5 !important;
  border-radius: 50% !important;
}
.heroSlider .swiper-button-prev svg,
.heroSlider .swiper-button-next svg {
  width: 30px;  /* change size */
  height: 30px; /* change size */
  stroke-width: 3; /* makes arrow thicker */
  stroke: #7743db; /* arrow color */
}


/* Hero section bullet style */
.heroSlider .swiper-pagination-bullet {
  width: 12px;                  /* bullet width */
  height: 12px;                 /* bullet height */
  background-color: #ccc;       /* inactive bullet color */
  opacity: 0.5;                 /* inactive opacity */
  margin: 0 6px !important;     /* spacing between bullets */
  border-radius: 50%;           /* make circular */
  transition: all 0.3s ease;    /* smooth effect */
}

/* Active bullet */

.heroSlider .swiper-pagination-bullet-active {
  background-color: #c3863c;    /* active bullet color */
  width: 14px;                  /* active bullet can be slightly bigger */
  height: 14px;
  opacity: 1;
}

/* CUstom slider...... */

.customSlider .swiper-button-prev,
.customSlider .swiper-button-next {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  padding: 10px !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.7) !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7743db !important;
  background-color: #f7efe5 !important;
  border-radius: 50% !important;
}

.customSlider .swiper-button-prev svg,
.customSlider .swiper-button-next svg {
  width: 20px;  /* change size */
  height: 20px; /* change size */
  stroke-width: 3; /* makes arrow thicker */
  stroke: #7743db; /* arrow color */
}